<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome to Xiaolong CHEN's site{% endblock %}</title>
        <link href="/bundles/vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <div class="navbar">
                <div id="logo">

                </div>
                <div id="i18n">
                    <a href="{{ path(app.request.attributes.get("_route"), {"_locale": "zh"}) }}">{{ "lang.chinese"|transchoice(1) }}</a>
                    <a href="{{ path(app.request.attributes.get("_route"), {"_locale": "en"}) }}">{{ "lang.english"|transchoice(1) }}</a>
                    <a href="{{ path(app.request.attributes.get("_route"), {"_locale": "fr"}) }}">{{ "lang.french"|transchoice(1) }}</a>
                </div>
            </div>
        </header>
        {% block body %}{% endblock %}
            <script src="/bundles/vendor/jquery/dist/jquery.js" type="text/javascript"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
