{% for blog in list %}
    Hello {{ blog.title }}!  <a href="{{ path('jca_blog_default_show', {'slug': blog.slug} ) }}"> Slug is {{ blog.slug }}</a><br/>
{% endfor %}


<a href="{{ path("jca_blog_default_list", {"_locale": "zh"}) }}">Chinese</a>
<a href="{{ path("jca_blog_default_list", {"_locale": "en"}) }}">English</a>
<a href="{{ path("jca_blog_default_list", {"_locale": "fr"}) }}">French</a>

{{ "lang.chinese"|transchoice(1) }}